# Explore here

In [31]:
import os
import pandas as pd
from dotenv import load_dotenv
import spotipy
from spotipy.oauth2 import SpotifyClientCredentials

# load the .env file variables

import os

client_id = "cd18c256d7f344a4991091bbddea2ca7"
client_secret ="c241c30cfda8495b8e430fef626c0081"
Drake_id = "spotify:artist:3TVXtAsR1Inumwj472S9r4"
spotify = spotipy.Spotify(auth_manager=SpotifyClientCredentials(client_id=client_id, client_secret=client_secret))
artist_id = "3TVXtAsR1Inumwj472S9r4"

result = spotify.artist_top_tracks("3TVXtAsR1Inumwj472S9r4")
if result:
  tracks = result["tracks"]
  tracks
tabla = pd.DataFrame(tracks)
tabla
#print(tabla.columns)
popularidad = tabla[['name', 'popularity','duration_ms']]
popularidad
mas_populares = popularidad.sort_values('duration_ms', ascending = False)
mas_populares 
top_3 = mas_populares.head(3)
top_3

           name  popularity  duration_ms
1      She Will          75       305840
4  Passionfruit          79       298940
6      CN TOWER          78       241889